<div  style="background-color: rgb(233, 227, 227); width: 50px; height: 100%; display: flex; flex-direction: column; justify-content: center ; align-items: center;" >
  <a [routerLink]="['/main/main-page']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </a>
  <a [routerLink]="['/main/user-info']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
  </a>
  <a [routerLink]="['/main/create-user']">
    <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
  </a>
</div>
